/* ===========================
   NAVBAR
=========================== */

.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 10%;

    background:#0f172a;

    border-bottom:1px solid #1e293b;

    z-index:1000;

}



.logo{

    font-size:30px;

    font-weight:bold;

    color:#38bdf8;

    letter-spacing:2px;

}

/* ===========================
   MENU
=========================== */

.nav-menu{

    display:flex;

    gap:35px;

    list-style:none;

}

.nav-menu li a{

    color:white;

    font-size:18px;

    transition:.3s;

}

.nav-menu li a:hover{

    color:#38bdf8;

}